{% extends 'home.html' %}

{% block title %}
Profile - {{user_profile.user.username}}
{% endblock %}

{% block content %}

<h2>{{user_profile.user.username}}</h2>

<img src="{{user_profile.profileimg.url}}" width="150">

<p>{{user_profile.bio}}</p>

<p>{{user_post_length}} Posts</p>
<p>{{user_followers}} Followers</p>
<p>{{user_following}} Following</p>

<form action={% url 'follow' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="follower" value="{{user.username}}">
    <input type="hidden" name="user" value="{{user_object.username}}">

    {% if user_object.username == user.username %}
        <a href="/settings/">Account Settings</a>
    {% else %}
        <button type="submit">{{button_text}}</button>
    {% endif %}
</form>

<hr>

<h3>User Posts</h3>

{% for post in user_posts %}
    <img src="{{post.image.url}}" width="200">
{% endfor %}

{% endblock %}