{% extends 'home.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<h2>Account Settings</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <img src="{{user_profile.profileimg.url}}" width="100"><br><br>

    <input type="file" name="image"><br><br>

    <textarea name="bio">{{user_profile.bio}}</textarea><br><br>

    <input type="text" name="location" value="{{user_profile.location}}"><br><br>

    <button type="submit">Save</button>
</form>

{% endblock %}