# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__/
*.py[cod]
*$py.class
env/
env.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

media/
staticfiles/
media/
.vscode/
.DS_Store
Thumbs.db

logs/
*.log